[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Steve/vendor/imguizmo"]
	path = Steve/vendor/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Steve\\vendor\\imgui"]
	path = Steve\\vendor\\imgui
	url = https://github.com/mvdschoot/imgui.git
