build
.git
.ccls-cache
.ccls
.clang*
compile_commands.json
.vs
.vscode
cmake-build-debug-visual-studio
Folder.DotSettings.user
vendor

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
